.DS_Store
node_modules
/dist
.env

# local env files
.env.local
.env.*.local
local.yml
config.yml

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
inspect.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
